--disable acronyms
--enable andOperator
--enable anyObjectProtocol
--enable applicationMain
--enable assertionFailures
--enable blankLineAfterImports
--enable blankLineAfterSwitchCase
--enable blankLinesAfterGuardStatements
--enable blankLinesAroundMark
--enable blankLinesAtEndOfScope
--enable blankLinesAtStartOfScope
--enable blankLinesBetweenChainedFunctions
--enable blankLinesBetweenImports
--enable blankLinesBetweenScopes
--disable blockComments
--enable braces
--enable conditionalAssignment
--enable consecutiveBlankLines
--enable consecutiveSpaces
--enable consistentSwitchCaseSpacing
--enable docCommentsBeforeModifiers
--enable duplicateImports
--enable elseOnSameLine
--enable emptyBraces
--enable emptyExtensions
--enable enumNamespaces
--enable environmentEntry
--enable extensionAccessControl
--enable fileHeader
--enable fileMacro
--enable genericExtensions
--enable headerFileName
--enable hoistAwait
--enable hoistPatternLet
--enable hoistTry
--enable indent
--enable initCoderUnavailable
--enable isEmpty
--enable leadingDelimiters
--enable linebreakAtEndOfFile
--enable linebreaks
--enable modifierOrder
--enable noExplicitOwnership
--enable numberFormatting
--decimalgrouping 3,4
--enable opaqueGenericParameters
--enable organizeDeclarations
--enable preferCountWhere
--enable preferKeyPath
--enable preferSwiftTesting
--enable privateStateVariables
--enable redundantBackticks
--enable redundantBreak
--enable redundantClosure
--enable redundantEquatable
--enable redundantExtensionACL
--enable redundantFileprivate
--enable redundantGet
--enable redundantInit
--enable redundantInternal
--enable redundantLet
--enable redundantLetError
--enable redundantNilInit
--enable redundantObjc
--enable redundantOptionalBinding
--enable redundantParens
--enable redundantPattern
--enable redundantProperty
--enable redundantRawValues
--enable redundantReturn
--enable redundantStaticSelf
--enable redundantType
--enable redundantTypedThrows
--enable redundantVoidReturnType
--enable semicolons
--enable sortDeclarations
--enable sortImports
--enable sortSwitchCases
--enable sortTypealiases
--enable spaceAroundBraces
--enable spaceAroundBrackets
--enable spaceAroundComments
--enable spaceAroundGenerics
--enable spaceAroundOperators
--enable spaceAroundParens
--enable spaceInsideBraces
--enable spaceInsideBrackets
--enable spaceInsideComments
--enable spaceInsideGenerics
--enable spaceInsideParens
--enable strongOutlets
--enable strongifiedSelf
--enable swiftTestingTestCaseNames
--enable todos
--enable trailingClosures
--enable trailingCommas
--enable trailingSpace
--enable typeSugar
--enable unusedArguments
--enable unusedPrivateDeclarations
--enable void
--enable wrap
--enable wrapArguments
--enable wrapAttributes
--enable wrapConditionalBodies
--enable wrapEnumCases
--enable wrapLoopBodies
--enable wrapMultilineConditionalAssignment
--enable wrapMultilineFunctionChains
--disable wrapMultilineStatementBraces
--enable wrapSingleLineComments
--enable wrapSwitchCases
--enable yodaConditions
--exclude Pods,Generated
--disable redundantSelf
--disable markTypes
--disable docComments
--disable preferForLoop
--disable propertyTypes
--organizationmode type
--marktypes never
--markextensions never
--typeorder beforeMarks, nestedType, staticProperty, staticPropertyWithBody, classPropertyWithBody, overriddenProperty, swiftUIPropertyWrapper, instanceProperty, computedProperty, swiftUIProperty, swiftUIMethod, overriddenMethod, staticMethod, classMethod, instanceLifecycle, instanceMethod
--organizetypes class,struct,enum,actor
